/* body{
  background: linear-gradient(0deg,#888 10%,#eee 30%,#fff 70%);
  height: auto;
  padding-bottom: 20px;
} */
.header img{
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin-right: 10px !important;
}
nav{
  transition: all 0.3s ease-in-out;
  background-color: transparent !important;
}

.btn-clear{
  background-color: transparent !important;
  color: #3a7707 !important;
  box-shadow: none !important;
  font-weight: 700;
}

.nav-item{
  /* border: 1px solid #3a7707; */
  padding:10px;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
  
}
.nav-item > .nav-link{
  color:  #2e2e2e !important;
  font-weight: 500;
  /* padding: 15px; */
}

.nav-item:hover, nav.active .nav-item.active{
  background-color: #2e2e2e;
}

.nav-item:hover  > .nav-link, nav.active .nav-item.active > .nav-link{
  color:  #ffffff !important;
}

.navbar-nav{
  justify-content: center;
  width: 100%;
  margin-left: 10px;
}

.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
  background-color: transparent;

}

.btn-chap{
  background-color: #c58621 !important;
  overflow-wrap: normal !important;
  border-radius: 5px;
}

h2.title{
  background-color: #3a7707;
  color: #ffffff;
  width: fit-content;
  padding: 10px;
}

.executive__carousel{
  justify-content: center;
}
.newsletter{
  background-color: #c58621;
  margin-bottom: 0px !important;
}

.newsletter__form{
  padding: 0px 20px;
  text-align: left;
}

.newsletter__box{
  border: 2px solid #3a7707;
  border-radius: 10px;
  background-color: #fff;
}

.newsletter__input{
  border: none !important;
  outline: none !important;
  padding: 15px;
  border-radius: 10px;
}
.required{
  color: red;
}
.footer{
  background-color: #333e48;
  color: #ffffff;
}
.footer >.row{
  padding: 15px;
}
.footer__footer{
  background-color: #1f2530;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.green-color{
  background-color: #3a7707;
}

.p-10{padding:60px}

.footer__logo > img{
  height: 50px;
  display: inline-block;
}

.footer__logo > span{
  display: inline-block;
}

.jumbotron-bg{
  width: 100%;
  height: 450px;
  /* background-image: url(images/carousel.jpeg); */
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  padding-top: 200px;
}
.jumbotron-bg ~ .jumbotron{
  margin: auto 20%;
  margin-top: -150px;
}

div{font-size:18px}
.avatar{
  border-radius: 50% !important;
  background-position: center;
}
div.avatar{
  overflow: hidden;
  height: 300px;
  width: 300px;
}


div.thumbnail{
  overflow: hidden;
  height: 300px;
  width: 300px;
  background-position: center;
  border-radius: 10px;
}

div.avatar img, div.thumbnail img{
  object-fit: cover;
  object-position: center;
  
}

.navbar-toggler{
  color: #fff !important;
  /* background-color: #3a7707; */
  right: 0;
  position: relative;
  font-size: 1.2em;
  padding: 10px;
  cursor: pointer;
}
@media(max-width:767px){
  nav{
    padding: 10px !important;
  }
  nav .navbar-toggler1{
    position: fixed !important;
  }
}

.rounded{border-radius: 5%; overflow: hidden;}
.rounded .card-body{
  border-radius: 0px;
  cursor: pointer;
}
.text-bold{
  font-weight: 500 !important;
}
.text-bolder{
  font-weight: 600 !important;
}
.mt-n10{
  margin-top: -100px;
  z-index: 1000
}
.mx-10{
  margin-left:15%;
  margin-right:15%

}
.amber-text{
  color: #c58621 !important;
}
.border-md-left{
  border-left:1px solid #dee2e6!important;
}
@media(max-width:991px){
  .border-md-left{
    border-left: none !important;
  }
}
.app{
  overflow-x: hidden;
}
.splash{
  position: fixed;
  top:0;
  width: 100%;
  height: 100%;
  background-color: #2e2e2e !important;
  z-index: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash > img {
  height: 200px !important;
}
.sidebar ul{
  margin-left: 0px;
  text-align: left !important;
}
.sidebar{
  top: 0;
  width: 250px;
  z-index: 1200;
  background-color: #fff !important;
  transform:translateX(-250px);
  height: 100vh;
  position: fixed;
  transition: all 0.8s ease-in-out;
  text-align: center;
}

.sidebar-header{
  font-style: italic;
  /* background-color: #f6ebdb; */
  padding: 5px;
}

.sidebar.opened{
  transform:translateX(0px);
}

.overlay{
  top: 0;
  background-color: rgba(7, 7, 7, 0.801);
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 1200;
  transition: all 0.3s ease-in-out;
  /* display: none; */
  opacity: 0;
  visibility: hidden;
}
.overlay.opened{
opacity: 1;
visibility: visible;
}

.overlay i{
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 40px;
  color: #1f2530;
  z-index: 2000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.z-n10{z-index: -100}


  .mt-10{
    margin-top: 100px;
  }
  .text-black-50 a {
    color: #555 !important;
  }